/* General Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styling */
  header {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Section Styling */
  section {
    margin: 50px;
  }
  
  section h2 {
    font-size: 24px;
      
  }
  
  /* Footer Styling */
  footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
